@inherits cmsExtensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - My ASP.NET Web Page</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //https://www.tutorialrepublic.com/faq/how-to-open-bootstrap-dropdown-menu-on-hover-rather-than-click.php
            //https://www.tutorialrepublic.com/codelab.php?topic=faq&file=make-bootstrap-dropdown-menu-on-hover
            $(".dropdown, .btn-group").hover(function () {
                var dropdownMenu = $(this).children(".dropdown-menu");
                //if (dropdownMenu.is(":visible")) {
                dropdownMenu.parent().toggleClass("open");
                //}
            });
        });
    </script>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@Page.Description" />
</head>
    <body>
        <div class="container">
            <header class="row">
                <section class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">WebSiteName</a>
                            </div>
                            <ul class="nav navbar-nav">
                                @RenderPane("NavigationPane")
                                @*<li class="active"><a href="~/">Home</a></li>
                                <li><a href="~/About">About</a></li>
                                <li><a href="~/Contact">Contact</a></li>*@

                                <li class="float-right"><a href="~/Account/Register">Register</a></li>
                                <li class="float-right"><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        </div>
                    </nav>
                </section>       
            </header>
            <section class="row">
                <div class="col-md-12">
                    @RenderBody()
                    <br />
                    @RenderPane("contentPane")
                    <hr />
                    @RenderPane("bottomPane")
                </div>

            </section>
            <footer class="row">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Web Page</p>
            </footer>
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>